Click==7.0
cooler==0.8.5
future==0.17.1
h5py==2.9.0
hic2cool==0.4.1
HiCExplorer==2.2
HiCMatrix==11
intervaltree==3.0.2
joblib==0.13.2
multiprocess==0.70.8
numba==0.45.1
numexpr==2.6.9
numpy==1.17.0
pandas==0.25.0
pyarrow==0.14.1
pybedtools==0.8.0
pyBigWig==0.3.17
scikit-learn==0.21.1
scipy==1.2.1
seaborn==0.9.0
tables==3.5.1
tqdm==4.32.1
Unidecode==1.1.1
