sudo apt-get install zlib1g-dev
conda install -c conda-forge intervaltree multiprocess  pandas future scikit-learn unidecode matplotlib
conda install -c bioconda cooler pybedtools pyBigWig
conda install -c ska tables 
conda install pyarrow -c conda-forge
pip install joblib
